* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
  }

  button{
      border: none;
  }


  .title{
      text-align: center;
  }

  .movie-title{
      margin: auto;
      font-size: 0.9em;
  }

  .movie-poster{
      width: 60px;
  }

  .popular-movie{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15%;
      text-align: center;
      flex-direction: row;
      padding: 2%;
      box-shadow: 6px 5px 5px 5px rgba(0,0,0,0.53);
  }

  .star{
      color: yellow;
  }

  /* closer look at pop movie */

  .popular-movie-closer-look{
      display: flex;
      text-align: center;
      margin: 5%;

  }

  .popular-movie-closer-look p {
      font-size: 0.8em;
  }

  .mini-details{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 5% 0 5% 0;
  }

  .trailers{
      margin: auto;
  }

  .overview{
      margin-top: 10%;
      text-align: left;
      padding: 2%;
  }

  /* pagination */

  .pagination{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 5%;
  }

  .pagination button{
      border: none;
  }